<div class="grid grid-cols-5 gap-8">
    <% books.each do |book| %>
        <article class="h-full flex flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-sm">
            <%= render "books/book_modal", book: book %>
            <%= render "books/book", book: book %>
        </article>
    <% end %>
</div>
