<div>
    <%= select_tag :filter,
        options_for_select([
            [ t(".all"), "" ],
            [ t(".no_serie"), "no_serie" ],
            [ t(".no_author"), "no_author" ],
            [ t(".incomplete"), "incomplete" ]
        ], params[:filter]),
        class: "form-input",
        data: { action: "change->search#performSearch" } %>
</div>
