<div class="mb-8 min-w-full">
    <%= render "shared/search_form", path: books_path, placeholder: "Search books by title or author...", turbo_frame: "books" %>
</div>

<%= turbo_frame_tag "books" do %>
    <%= render "books_list", books: @books %>
<% end %>
