<div class="mb-8 min-w-full">
    <%= render "shared/search_form", path: books_search_path, placeholder: t(".search_placeholder"), turbo_frame: "books" %>
</div>

<%= turbo_frame_tag "books" do %>
    <%= render "books/books_list", books: @books %>
<% end %>
